.img{
    height: 100%;
    width: 200px;
}
.captchaView{
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    /* margin: 1.5rem; */
    /* padding: 3rem; */
    width: 90%;
    /* height: auto; */
}
.captchaView input{
    width: 50%;
}
.captchaView img{
    height: 2rem;
}
.captchaView p{
    font-size: 1.5rem;
    text-align: center;
    direction: ltr;
}
