.Button{
    background-color: transparent;
    border: 1px solid transparent;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    font-weight: bold;
}
.Danger{
    background-color: palevioletred;
}
.Success{
    background-color: green;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
}